<header>
	<h2>Jornada #1</h2>
</header>
<h3>
	<div>1 Leganes</div>
	<div>0 Alaves</div>
</h3>
<h3>
	<div>1 Valencia</div>
	<div>0 Las Palmas</div>
</h3>
<h3>
	<table class="table_game">
		<th>
			2 Celta
		</th>
		<th>
			<div class="result"> 2 Maxi Gomez</div>
		</th>
	</table>
	<table>
		<td>
			<div>3 Real Sociedad </div>
		</td>
		<td>
			<div class="result"> Oryazabal, Juanmi, William Jose</div>
		</td>
	</table>
</h3>
<h3>
	<div>2 Girona</div>
	<div>2 Atletico</div>
</h3>
<h3>
	<div>1 Sevilla</div>
	<div>1 Espanyol </div>
</h3>
<h3>
	<div>0 Athletic</div>
	<div>0 Getafe</div>
</h3>
<h3>
	<div>2 Barcelona</div>
	<div>0 Betis</div>
</h3>
<h3>
	<div>0 Deportivo</div>
	<div>3 Real Madrid</div>
</h3>
<h3>
	<div>1 Levante</div>
	<div>0 Villarreal</div>
</h3>
<h3>
	<div>0 Malaga</div>
	<div>1 Eibar</div>
</h3>
